
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .day-item {
    text-align: center;
    border-radius: 6px;
    background-color: #eaf1ff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  .day-image {
    width: 55%;
    height: 25rem;
    margin-left: 400px;
  }
  .p {
    margin-left: 300px;
    width: 55%;
    z-index: 0;
    overflow: hidden;
  }
  .h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 100;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .description {
    text-align: center;
  }
  
  .underline {
	position: relative;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
	color: #0099FF;
}
.underline:before {
	position: absolute;
	content: "";
	width: 150px;
	height: 1px;
	background-color: #777;
	top: 50%;
	left: 0;
}
.underline:after {
	position: absolute;
	content: "";
	width: 200px;
	height: 1px;
	background-color: #777;
	top: 50%;
	right: 0;
}
  