.div {
    margin: 3rem auto;
    width: 95%;
    border-radius: 6px;
    background-color: #EAF1FF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

.div img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.div label {
    display: block;
    color: #293559;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }